/*Media Queries*/
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$bg-color: #fcfcfc;
$btn-bg-active: #f7f7f7;
$btn-border-active: #cccccc;
$button-font-size: 18px;

header {
	height: 50px;
}
body{
  padding-top: 50px;
}
footer {
	bottom: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	div p {
	text-align: center;
	}
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
h1,h2,h3 {
	font-family: 'Ubuntu', sans-serif;
}
button:focus{
	outline: none !important;
}
.lead {
	padding-top: 10px;
	//margin-bottom: 10px;
}
.bg-color{
	background: $bg-color;
}
.bg-grad-color{
	background: $bg-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,rgba(253,253,253,0),$bg-color); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(253,253,253,0),$bg-color); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(253,253,253,0),$bg-color); /*Fx 3.6-15*/
  background: linear-gradient(to bottom,rgba(253,253,253,0),$bg-color); /*Standard*/
}

/*navigation bar*/
.navbar-default {
    background-color: $bg-color;
}
/*bio*/
.bio-wrapper{
	//background-color: $bg-color;
}
.profile-photo {
	margin: 25px;
	float: right;
	img{
	max-height: 200px;
	max-width: 200px;
	border-radius: 50%;
	}
}
.profile-text {
	padding: 50px 25px;
	font-size: 18px;
}
.big-text {
	line-height: 40px;
	span{
	font-size: 1.5em;
	letter-spacing: 2px;
	}
}

/*Skills*/
#skills{
	padding: 150px 0;
}
.skills-wrapper{
	display: flex;
	justify-content: center;
  padding: 100px 0;
}
.walnut{
  position: absolute;
  transform: translateX(-50%);
  margin-top: -70px;
  z-index: 1;
}
.left-brain,.right-brain{
	width: 100%;
}
.left-brain>div{
	float: right;
	clear: both;
	width: 30%;
	border: 1px solid black;
}
.right-brain>div{
	text-align: right;
	float: left;
	clear: both;
	width: 30%;
	border: 1px solid black;
}
.bar{
	width: 10px;
	height: 100%;
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	margin: 5px;
	transition: all 1.25s ease-in-out;
	opacity: 0;
	&.bar-animate{
		width: 50%;
	}
	span{
		font-size: 20px;
		color: black;
	}

}
@media only screen and (max-width : $sm) {
	.walnut{
		z-index: -1;
		width: 80%;
		img{
			width: 100%;
		}
	}
	.bar{
		background-color: rgba(255,255,255,0.5);
	}
	.bar span{
		font-size: 0.9em;
	}
}
@media only screen and (max-width : $xs) {
	.walnut{
		width: 100%;
		margin-top: 0;
	}
}
/*porfolio buttons*/
.portfolio-btn{
	text-align: center;
}
.btn-default{
	color: black;
	padding: 10px;
	border: 1px solid black;
	width: 45%;
	margin: 0 1.5%;
	font-size: $button-font-size;
	&:hover,&:focus{
		background-color: $btn-bg-active;
    border-color: $btn-border-active;
	}
}
.btn-default.active, .btn-default:hover{
	background-color: $btn-bg-active;
  border-color: $btn-border-active;
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.125);
  box-shadow: inset 0 2px 2px rgba(0,0,0,.125);
}
/*Front-end Portfolio*/
.web-projects-wrapper{
	padding: 50px 0;
}
.web-project {
	margin: 20px 0;
	img {
	width: 350px;
	border-radius: 10px;
	display: block;
	margin: 10px auto;
	}
}
.project-info{
	padding: 0 30px;
	.lead{
		text-align: justify;
	}
}
.clearfix {
  overflow: auto;
}
@media only screen and (max-width : $md) {
	.web-project img{
		width: 80%;
	}
  .project-info{
    text-align: center;
  }
  .project-info>.lead{
  	text-align: justify;
  }
}

/*Design Portfolio*/
.design-projects-wrapper{
	padding: 50px 0;
	display: none;
}

/*Resume*/
#resume{
	padding: 150px 0;
}
.resume-wrapper{
	width: 90%;
	margin: 0 auto;
}
#resume .container-fluid{
  margin: 0 auto;
  margin-top: 50px;
	padding: 5% 7%;
	border: 1px solid black;
	display: none;
}
.resume-wrapper>button{
	display: block;
	margin: 0 auto;
	width: 250px;
	padding: 10px;
	margin-top: 25px;
}
#resume .lead{
	margin-bottom: 10px;
}
.design-resume{
	display: none;
}
.line{
	height: 1px;
	background-color: lightGray;
	margin-bottom: 20px;
}
.float-right{
  float: right;
}
.intern-lists{
	display: none;
}

/*contact form*/
#contact {
	padding: 50px 0;
}
.form-wrapper{
	width: 60%;
	button{
		display: block;
		margin: 20px auto;
	}
}
@media only screen and (max-width : $sm) {
	.form-wrapper{
		width: 90%;
	}
}

