/*Media Queries*/
header {
  height: 50px; }

body {
  padding-top: 50px; }

footer {
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 10px; }
  footer div p {
    text-align: center; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif; }

button:focus {
  outline: none !important; }

.lead {
  padding-top: 10px; }

.bg-color {
  background: #fcfcfc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(253, 253, 253, 0), #fcfcfc);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, rgba(253, 253, 253, 0), #fcfcfc);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, rgba(253, 253, 253, 0), #fcfcfc);
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(253, 253, 253, 0), #fcfcfc);
  /*Standard*/ }

/*navigation bar*/
.navbar-default {
  background-color: #fcfcfc; }

/*bio*/
.profile-photo {
  margin: 25px;
  float: right; }
  .profile-photo img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%; }

.profile-text {
  padding: 50px 25px;
  font-size: 18px; }

.big-text {
  line-height: 40px; }
  .big-text span {
    font-size: 48px;
    letter-spacing: 2px; }

/*Skills*/
#skills {
  padding: 150px 0; }

.skills-wrapper {
  display: flex;
  justify-content: center;
  padding: 100px 0; }

.walnut {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -70px; }

.left-brain, .right-brain {
  width: 100%; }

.left-brain > div {
  float: right;
  clear: both;
  width: 100%;
  border: 1px solid black; }

.right-brain > div {
  text-align: right;
  float: left;
  clear: both;
  width: 100%;
  border: 1px solid black; }

.bar {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 5px; }
  .bar span {
    font-size: 20px;
    color: black; }

/*porfolio buttons*/
.portfolio-btn {
  text-align: center; }

.btn-default {
  color: black;
  padding: 10px;
  border: 1px solid black;
  width: 45%;
  margin: 0 1.5%;
  font-size: 18px; }
  .btn-default:hover, .btn-default:focus {
    background-color: #f7f7f7;
    border-color: #cccccc; }

.btn-default.active, .btn-default:hover {
  background-color: #f7f7f7;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.125); }

/*Front-end Portfolio*/
.web-projects-wrapper {
  padding: 50px 0; }

.web-project {
  margin: 20px 0; }
  .web-project img {
    width: 350px;
    border-radius: 10px;
    display: block;
    margin: 10px auto; }

.project-info {
  padding: 0 30px; }
  .project-info .lead {
    text-align: justify; }

.clearfix {
  overflow: auto; }

@media only screen and (max-width: 992px) {
  .web-project img {
    width: 80%; }

  .project-info {
    text-align: center; }

  .project-info > .lead {
    text-align: justify; } }
/*Design Portfolio*/
.design-projects-wrapper {
  padding: 50px 0;
  display: none; }

/*Resume*/
#resume {
  padding: 150px 0; }

#resume .container {
  margin: 0 auto;
  margin-top: 50px;
  padding: 5% 7%;
  border: 1px solid black;
  display: none; }

.resume-wrapper > button {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 10px;
  margin-top: 25px; }

#resume .lead {
  margin-bottom: 10px; }

.design-resume {
  display: none; }

.line {
  height: 1px;
  background-color: lightGray;
  margin-bottom: 20px; }

.float-right {
  float: right; }

.intern-lists {
  display: none; }

/*contact form*/
#contact {
  padding: 100px 0; }

.form-wrapper {
  width: 60%; }

@media only screen and (max-width: 768px) {
  .form-wrapper {
    width: 90%; } }

/*# sourceMappingURL=custom.css.map */
